# NODE
NODE_ENV=development
VERSION=v1

# DATABASE
DB_CONN=postgresql
DB_HOST=localhost
DB_PORT=5432
DB_USER=username
DB_PASS=password
DB_NAME=your_db

# BCRYPT
BCRYPT_SALT_ROUNDS=12

# JWT
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1d

# NEXTAUTH (kalau nanti lo pake authentication)
NEXTAUTH_SECRET=your_secret_key
NEXTAUTH_URL=http://localhost:3000
